/* Load Custom Fonts */
@font-face {
  font-family: "DogicaPixel";
  src: url("/fonts/dogicapixel.ttf") format("truetype");
}

@font-face {
  font-family: "DogicaPixelBold";
  src: url("/fonts/dogicapixelbold.ttf") format("truetype");
}

@font-face {
  font-family: "PixelMax-Regular";
  src: url("/fonts/Pixelmax-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PixelMax-Outline";
  src: url("/fonts/Pixelmax-Outline.otf") format("opentype");
}
/* Apply Fonts to Specific Elements */
body, .container, .button {
  font-family: "DogicaPixel", sans-serif;
}

.title {
  font-family: "PixelMax-Regular", sans-serif; 
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

/* Centered Container */
.container {
  width: 640px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e293b; /* Dark blue background */
  color: white;
  text-align: center;
}

/* Button Container */
.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Buttons */
.button {
  background-color: #007bff;
  color: white;
  font-size: 4.25vw;
  padding: 5vw 10vw;
  border: none;
  border-radius: 10vw;
  cursor: pointer;
  transition: background 0.3s ease;
  width: auto;
}

/* Hover Effect */
.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05);
  transition: ease 0.25s;
}

/* Prevent Window Resizing in Electron */
html, body {
  overflow: hidden; /* Prevent scrollbars */
}

.vibrate {
	animation: vibrate 1.2s linear infinite both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

