/* Apply Font to Everything */
body, .game-container, .dialog-box, .character-name, .dialog-text, .dialog-button {
    font-family: "DogicaPixel", sans-serif;
}

/* Game Page Background */
.game-container {
    width: 100vw;
    height: 100vh;
    /* background: url("../assets/bg.png") center/cover no-repeat !important; */
    background-color: #1e293b;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px;
}

/* Character image on the left */
.character {
    height: 300px;
    object-fit: contain;
    margin-left: 20px;
}

/* Dialogue Box Styling */
.dialog-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    border-radius: 10px;
    width: 80%;
    font-family: "MyCustomFont", sans-serif;
    color: #333;
    position: relative;
    margin-bottom: 50px;
}

/* Character Name */
.character-name {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
}

/* Dialogue Text */
.dialog-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Buttons Container */
.dialog-buttons {
    position: absolute;
    top: -35%;
    right: 1%;
    display: flex;
    gap: 4vw;
}

/* Button Styling */
.dialog-button {
    background-color: white;
    color: #63220f;
    font-size: 1rem;
    padding: 8px 15px;
    border: 5px solid #63220f;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px black;
}

.dialog-button:hover {
    background-color: white;
}
